# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Flask
instance/
.webassets-cache

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite

# Logs
*.log

backend/uploads/

# AI Models and Datasets
backend/utils/bert_job_model/
backend/job_worker_dataset.csv
backend/utils/bert_label_encoder.pkl